<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <EnableEmergencyLowHpFallback>false</EnableEmergencyLowHpFallback>
  <EmergencyHpThresholdPercent>30</EmergencyHpThresholdPercent>
  <EnableHotkeyToggle>true</EnableHotkeyToggle>
  <ToggleHotkey>N</ToggleHotkey>
  <EnableAutoWeaponSwap>true</EnableAutoWeaponSwap>
  <AutoControlGuests>true</AutoControlGuests>
</Settings>